html, body {
	margin: 0px;
	padding: 0px;
}

body {
}

.my-page{
	display: none;
	background-image: url("photos/flag.png");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.my-content{
	margin: 10px 20px;
	padding: 0;
	font-family: sans-serif;
	color: black;
	text-align: center;
}

.my-content h1{
	font-size: 150%;
}

.my-content p, .my-content ul
{
	font-size: 120%;
}


.my-checkpoint {
	width: 100px;
	height: auto;
}
